
@using Report_Layout.Models;
@{
    ViewBag.Title = "Index";

}


<head>
    <title>New Member Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>

       
        
    </style>
</head>
<div class="content">
    <br />
    <h1>Trip Journal Registration</h1><br />

    @using (Html.BeginForm())
    {
<table class="trip">
    <tr>
        <td>
            <label for="truckNum"> Truck Number<span>*</span></label>
            <input id="truckNum" type="text" name="truckNum" maxlength="4" required />
        </td>
        <td>
            <label for="tripNum"> Trip Number<span>*</span></label>
            <input id="tripNum" type="text" name="tripNum" maxlength="3" required />
        </td>
    </tr>
    <tr>
        <td>
            <label for="driverNum">Driver Number<span>*</span></label>
            <input id="driverNum" type="text" name="driverNum" maxlength="9" required />


        </td>
        <td>
            <label for="co-driverNum">Co-Driver Number<span>*</span></label>
            <input id="co-driverNum" type="text" name="co-driverNum" maxlength="9" required />
        </td>
    </tr>
    <tr>
        <td>
            <label for="dateDeparted">Date Departed<span>*</span></label>
            <input id="dateDeparted" type="date" name="dateDeparted" required />
        </td>


        <td>
            <label for="dateReturn">Date Return<span>*</span></label>
            <input id="dateReturn" type="date" name="dateReturn" required />
        </td>

    </tr>
    <tr>
        <td>
            <label for="state">State Code<span>*</span></label>
            <input id="state" type="text" name="state" maxlength="2" required />
        </td>
        <td>
            <label for="milesDriven">Miles Driven<span>*</span></label>
            <input id="milesDriven" type="number" name="milesDriven" required />
        </td>
    </tr>
    <tr>
        <td>
            <label for="receiptNum">Fuel Receipt Number<span>*</span></label>
            <input id="receiptNum" type="text" name="receiptNum" maxlength="9" required />
        </td>

        <td>
            <label for="gallonsPurchased">Gallons Purchased<span>*</span></label>
            <input id="gallonsPurchased" type="number" name="gallonsPurchased" step=".1" required />
        </td>
    </tr>
    <tr>
        <td>
            <label for="taxesPaid">Taxes Paid<span>*</span></label>
            <input id="taxesPaid" type="number" name="taxesPaid" step=".01" required />
        </td>

        <td>
            <label for="stationName">Station Name<span>*</span></label>
            <input id="stationName" type="text" name="stationName" maxlength="10" required />
        </td>
    </tr>
    <tr>
        <td>
            <label for="stationLocation">Station Location<span>*</span></label>
            <input id="stationLocation" type="text" name="stationLocation" maxlength="15" />
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Submit" class="btn btn-default">
        </td>
        <td></td>
    </tr>
</table>
       
        
    }




</div>
