
@{
    ViewBag.Title = "Success";
}
    <div class="content"><br />
        <h2>Success</h2>
        <p>Trip was added successfully</p>
        @Html.ActionLink("Add Another Trip", "Index", "Trip")
        <br />
        @Html.ActionLink("Return to Home", "Index", "Home")
    </div>

