body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.content {
   
}

.report{
    font-family:'Courier New';   
}
.report th, .report td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align:center
}

.trip th, .trip td {
    padding: 10px;
}
span{
    color:red;
}
.report tr:nth-child(even) {
    background-color: #f2f2f2;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

    input[type="date"] {
        padding: 4px 5px;
    }


    input:hover::placeholder {
        color: #669999;
    }

    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }



    input[type=radio], input[type=checkbox] {
        display: none;
    }


        input[type=radio]:checked + label:before, label.radio:hover:before {
            border: 2px solid #669999;
        }

label.radio:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid #669999;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked + label:after {
    opacity: 1;
}



