@{
    ViewBag.Title = "Exception Report";
}
@using Report_Layout.Models
@model Trip
    <div class="content"><br />
        <h2>Exception Report</h2>
        @using (Html.BeginForm())
        {
            @Html.DropDownList("ExceptionType", new SelectList(Enum.GetValues(typeof(Except))), "Select Exception", new { @class = "form-control" })<br />
            @Html.DropDownList("EqualityType", new SelectList(Enum.GetValues(typeof(Inequality))), "Select Equality", new { @class = "form-control" })<br />
            @Html.TextBox("ExceptionValue", null, new { @class = "form-control" })<br />
            <input type="submit" value="Submit" class="btn btn-default">
        }
        <br />
        <br />
        <br />
        <br />
        @Html.ActionLink("Back", "Index", "Report")
    </div>




