
@{
    ViewBag.Title = "Index";
}
    <div class="content"><br />
        <h2>Report Page</h2>
        @Html.ActionLink("Detail Report", "DetailReport", "Report")<br />
        @Html.ActionLink("Exception Report", "ExceptionReport", "Report")<br />
        @Html.ActionLink("Summary Report", "SummaryReport", "Report")
    </div>


